* {
    color: rgb(255, 255, 255);
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
     /* Reduz a opacidade para 50% */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
}
.container {
    overflow: hidden; 
}

.imagem {
    float: left;  /*Flutua a imagem para a esquerda*/
    margin-right: 60px; /*espaço entre imagem e texto*/
    
}
h1{
    text-align: center;
    font-size: 51pt;
}
h2 {
    font-size: 32pt;
}
ul{
    color: aliceblue;
}
button {
    color: rgb(0, 0, 0);
}