* {
    color: rgb(255, 255, 255);
    
}

body{
    background-image: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; /*faz com que a imagem cubra todo container*/
    background-position: center;  /*centraliz a imagem*/
    background-repeat: no-repeat;  /*evita que a imagem se repita*/
    height: 100vh;  /*garante que o corpo tenha a altura da viewport*/
    z-index: -1;  /*Coloca o pseudo-elemento atrás do conteúdo */
}
.container {
    overflow: hidden; 
}

.imagem {
    float: left;  /*Flutua a imagem para a esquerda*/
    margin-right: 60px; /*espaço entre imagem e texto*/
    
}
h1{
    text-align: center;
    font-size: 51pt;
}
h2 {
    font-size: 32pt;
}
ul{
    color: aliceblue;
}
button {
    color: rgb(0, 0, 0);
}